.head {
  max-width: 600px;
}

.body {
  margin: auto;
  max-width: 600px;
  padding: 40px 20px;
}

h1 {
  margin-top: 0;
}

.body > p {
  padding-top: 0;
}

.body .proof {
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  margin-bottom: 20px;
  padding: 20px 0;
  text-align: center;
}

.body .proof a {
  align-items: center;
  display: inline-flex; 
  margin: 0 10px;
}

.body .proof span {
  text-align: left;
}

.body .proof img {
  margin-right: 10px;
  width: 50px;
}

.body .proof strong {
  display: block;
}

.body .benefits p {
  padding: 0;
}

.body .benefits ul {
  list-style-type: "🔹    ";
  padding-left: 25px;
}

.body .how-works {
  border-top: 1px solid #000000;
}

.body .how-works ol {
  list-style-type: "✅    ";
  padding-left: 25px;
}

.body .note {
  color: #880000;
  padding-top: 5px;
  text-align: center;
}

#disconnected .btn-primary {
  display: block;
  text-align: center;
}

#connected > .btn-primary {
  float: right;
  margin-top: -5px;
}

#collections {
  display: flex;
  flex-direction: column;
}

.collection {
  border-top: 1px solid #000000;
  padding-top: 20px;
  margin-bottom: 20px;
}

.collection .preview {
  float: left;
  width: 220px;
}

.collection .preview img {
  width: 100%;
}

.collection .info {
  padding-left: 240px;
}

.collection h3 {
  margin: 0 0 10px;
}

.collection p {
  padding: 0 0 10px;
}

.collection .stats {
  display: flex;
}

.collection .stats .price {
  margin-bottom: 10px;
}

.collection .stats .supply {
  flex-grow: 1;
  margin-bottom: 10px;
  text-align: right;
}

.collection .btn {
  display: block;
  text-align: center;
}

@media(max-width: 520px) {
  .body .proof small, .body .proof strong {
    display: none; 
  }

  .collection .preview {
    float: none;
    width: auto;
  }

  .collection .info {
    padding-left: 0;
  }

  #connected > .btn-primary, #disconnected > .btn-primary {
    float: none;
    margin-bottom: 40px;
  }

  #connected > .btn-primary, #disconnected > .btn-primary {
    display: block;
    text-align: center;
  }
}