.head {
  max-width: 600px;
}

label {
  display: block;
}

h1 {
  margin: 0;
}

.container {
  margin: auto;
  max-width: 600px;
}

.body {
  padding: 20px;
}

.body form .form-row {
  margin-bottom: 20px;
}

.body form .input-text {
  padding: 10px 15px;
  width: calc(100% - 35px);
}

.body form button {
  padding: 10px 20px;
}